#argF{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 10vh;

}

#box{
    margin-top: 20px;
}
#alert {
    border-width: 3px;
    border-color: #007BFF;

}
#boxText{
    color: rgba(0, 0, 0, 0.76);
    font-size: xx-large;
    margin-bottom: 20px;
}

#title{
    margin-left: auto;
    margin-right: auto;
    width: 510px;
    margin-top: 1vh;
    margin-bottom: 8vh;


}
#h1Title{
font-family: "Comic Sans MS";
}
